<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Three Trans (1995)</title>
    <link rel="stylesheet" href="~/Content/Layout/bootstrap.min.css" />
    <script src="~/Scripts/Layout/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/Layout/dx.light.css" />
    <link rel="stylesheet" href="~/Content/Layout/dx.common.css" />
    <script src="~/Scripts/Layout/dx.all.js"></script>
</head>
<body>   
    <div class="container">
        @RenderBody()        
    </div>
</body>
</html>