body {
    background-color: #F0F3F7;
}
.bg-menu {
  background-color: #43425D !important;
}
a.bg-menu:hover, a.bg-menu:focus,
button.bg-menu:hover,
button.bg-menu:focus {
  background-color: #3C3B54 !important;
  border-left: 5px solid #00D1B2;
}
a.bg-menu:hover .fas , a.bg-menu:focus .fas ,
button.bg-menu:hover .fas ,
button.bg-menu:focus .fas  {
  color: #00D1B2;
}
.list-group-item {
    border: none;
}
.list-group-item-action {
    color: #ffffff;
}
.list-group-item-action:hover, .list-group-item-action:focus {
    color: #ffffff;
}
#sidebar-wrapper .fa,#sidebar-wrapper .fas {
    width: 20px;
    margin-right: 10px;
}
.header-title {
    background-color: #00D1B2;
    color: #fff;
    padding: 12px 15px;
    font-size: 1.7rem;
    font-weight: 400;
}
.nav-tabs {
    border-bottom: 2px solid #00D1B2;
}
.nav-tabs .nav-link {
    border-radius: 0;
    background-color: #00D1B2;
    color: #fff;
}
.nav-tabs .nav-item {
    margin-right: 4px;
    margin-bottom: -2px;
    font-size: 14px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: 1px solid #00D1B2;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #00D1B2 #00D1B2 #fff;
}
.nav-link {
    padding: 0.5rem 0.7rem;
}
