@{
    ViewBag.Title = "CreateWorksheet";
}
<style>
    .wizard .content {
        min-height: 100px;
    }
    .wizard .content > .body {
        width: 100%;
        height: auto;
        padding: 15px;
        position: relative;
    }
</style>
<div class="header-title">
    สร้างใบงาน
</div>
<div class="container-fluid">
    <form id="example-advanced-form" action="#" style="margin-top: 15px;">
        <h3>ลูกค้า</h3>
        <fieldset>
            <p style="font-size: 24px;">ข้อมูลลูกค้า</p>
            <hr />
            <div id="form_1"></div>
        </fieldset>

        <h3>รถบรรทุก</h3>
        <fieldset>
            <p style="font-size: 24px;">ข้อมูลรถบรรทุก</p>
            <hr />
            <div id="form_2"></div>
            <p class="mt-3" style="font-size: 24px;">ข้อมูลพนักงานขับ</p>
            <hr />
            <div id="form_3"></div>
        </fieldset>

        <h3>อุปกรณ์</h3>
        <fieldset>
            <p style="font-size: 24px;">เอกสาร</p>
            <hr />
            <div id="form_4"></div>
            <p class="mt-3" style="font-size: 24px;">อุปกรณ์ขนส่ง</p>
            <hr />
            <div id="form_5"></div>
            <p class="mt-3" style="font-size: 24px;">อุปกรณ์เซฟตี้</p>
            <hr />
            <div id="form_6"></div>
        </fieldset>

        <h3>วิธีการ</h3>
        <fieldset>
            <p style="font-size: 24px;">วิธีการทำงาน</p>
            <hr />
            <div id="form_7"></div>
        </fieldset>
    </form>
</div>
<script src="~/Scripts/Home/CreateWorksheet.js"></script>