@{
    ViewBag.Title = "customerV2";
}

<div class="header-title">
    ลูกค้า
</div>
<div class="container-fluid" style="margin-top: 15px;">
    <div class="demo-container">
        <form action="your-action" id="form-container">
            <div id="form"></div>
            <div class="demo-container mt-2">
                <div id="grid_product"></div>
            </div>            
        </form>
    </div>
    <div id="popup_add_customer"></div>
</div>
<script src="~/Scripts/Home/customerV2.js"></script>