@{
    ViewBag.Title = "Customer";
}

<div class="header-title">
    ลูกค้า
</div>
<div class="container-fluid">
    <div id="example-basic" style="margin-top: 15px;">
        <h3>ลูกค้า</h3>
        <section>
            <div class="demo-container">
                <div id="gridContainer">
                </div>
            </div>
        </section>
        <h3>ที่อยู่ลูกค้า</h3>
        <section>
            <p>Wonderful transition effects.</p>
        </section>
        <h3>ติดต่อลูกค้า</h3>
        <section>
            <p>Wonderful transition effects.</p>
        </section>
    </div>
</div>
<script src="~/Scripts/Home/customer.js"></script>