@{
    ViewBag.Title = "พนักงานขับรถ";
}

<div class="header-title">
    พนักงานขับรถ
</div>
<div class="container-fluid">
    <div id="example-basic" style="margin-top: 15px;">
        <h3>พนักงานขับรถ</h3>
        <section>
            <div class="demo-container mt-2">
                <div id="grid_driver">
                </div>
            </div>
        </section>
    </div>
    <div id="popup_driver"></div>
</div>
<script src="~/Scripts/Home/Driver.js"></script>