@{
    ViewBag.Title = "พนักงานขับรถ";
}

<div class="header-title">
    พนักงานขับรถ
</div>
<div class="container-fluid">
    <div class="demo-container">
        <form action="your-action" id="form-container">
            <div id="form"></div>
            <div id="grid_driver"></div>
        </form>
    </div>
    <div id="popup_driver"></div>
</div>
<script src="~/Scripts/Home/Driver.js"></script>