@{
    ViewBag.Title = "ติดตามงาน";
}

<div class="header-title">
    ติดตามงาน
</div>
<div class="container-fluid">
    <div style="margin-top: 15px;">
        <div class="demo-container">
            <div id="grid_follow_worksheet"></div>
        </div>
    </div>
    <div id="popup_jobWork"></div>
</div>
<script src="~/Scripts/Home/FollowWorkSheet.js"></script>