
@{
    ViewBag.Title = "Index";
}

<div class="header-title">
    โปรไฟล์
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" id="customer" href="#">ลูกค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="equip" href="#">อุปกรณ์บรรทุก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="safety" href="#">อุปกรณ์เซฟตี้</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">อุปกรณ์ขนส่ง</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">น้ำหนักหัวโหลด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">น้ำหนักหางโหลด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">สินค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">วิธีขนถ่าย</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">วิธีบรรจุ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">การขนส่ง</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">ประเทศ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">สถานะบรรจุ</a>
        </li>
    </ul>
    <div class="demo-container">
        <div id="gridContainer">
        </div>
    </div>
</div>
<script src="~/Scripts/Home/index.js"></script>
