
@{
    ViewBag.Title = "Index";
}

<div class="header-title">
    โปรไฟล์
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" id="trans_equip" href="#">อุปกรณ์ขนส่ง</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="safety" href="#">อุปกรณ์เพื่อความปลอดภัย</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">พนักงานขับรถ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">รถบรรทุก</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="customer" href="#">ลูกค้า/สินค้า</a>
        </li>
    </ul>
    <div class="demo-container">
        <div id="gridContainer">
        </div>
    </div>
</div>
<script src="~/Scripts/Home/index.js"></script>
