
@{
    ViewBag.Title = "รายงานใบงาน";
}

<div class="header-title">
    รายงานใบงาน
</div>
<div class="container-fluid">
    
    <div style="margin-top: 15px; background-color: #fff; padding: 15px;">
        <div class="demo-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="dx-field">
                        <div class="dx-field-label">Start Date : </div>
                        <div class="dx-field-value">
                            <div id="date_start"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dx-field">
                        <div class="dx-field-label">End Date : </div>
                        <div class="dx-field-value">
                            <div id="date_end"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="dx-field">
                        <div id="validate" class="validate"></div>
                    </div>
                </div>
            </div>           
            
            <div class="mt-2" id="chart"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Home/ReportWorkSheet.js"></script>

