
@{
    ViewBag.Title = "SafetyData";
}

<div class="header-title">
    อุปกรณ์เซฟตี้
</div>
<div class="container-fluid">
    <div id="example-basic" style="margin-top: 15px;">
        <h3>อุปกรณ์เซฟตี้</h3>
        <section>
            <div class="demo-container">
                <div id="grid_equipment_safety">
                </div>
            </div>
        </section>
        <h3>ประเภท</h3>
        <section>
            <div class="demo-container">
                <div id="grid_equipment_safety_type">
                </div>
            </div>
        </section>
    </div>
</div>
<script src="~/Scripts/Home/SafetyData.js"></script>

