@{
    ViewBag.Title = "Transport";
}

<div class="header-title">
    การขนส่ง
</div>
<div class="container-fluid">
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" id="sammary_report" href="#">สรุปใบงาน</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="create_report" href="#">สร้างใบงาน</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="upload_report" href="#">อัปโหลดใบงาน</a>
        </li>
    </ul>
    <div class="demo-container">
        <div id="gridContainer">
        </div>
    </div>
</div>
